<!DOCTYPE html>
<html>
  <%- include('../parts/head');%>
  <body>
    <header>
      <%- include('../parts/navigation');%>
    </header>
    <main>
      
    </main>
    <%- include('../parts/footer');%>
  </body>
</html>
