<!DOCTYPE html>
<html>
  <%- include('../parts/head');%>
  <body>
    <header>
      <%- include('../parts/navigation');%>
    </header>
    <main>
      <% for(let i=0; i < news.length; i++){ %>
        
        <% } %>
    </main>
    <%- include('../parts/footer');%>
  </body>
</html>
